@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto&family=Rubik:wght@300;400&display=swap');
*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body{
  height: 100vh;
  background-image: linear-gradient(to bottom right, #7986cb, #1a237e);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container{
  background-color: #fff;
  width: 600px;
  padding: 50px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
}

.container *:not(i){
  font-family: 'Rubik', sans-serif;
}
.title{
  text-align: center;
  padding-bottom: 30px;
  text-decoration: none;
}

.title a:hover, a:visited{
  color: #7986cb;
  text-decoration: none;
}

.colors, .colors-text{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}
.colors-text p{
  width: 150px;
  text-align: center;
}

input[type="color"]{
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  width: 150px;
  height: 60px;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch{
  border-radius: 20px;
  border: none;
}

.buttons{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.buttons button{
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: 2px solid #d5d5dc;
  border-radius: 10px;
  cursor: pointer;
}

.rotate-icon {
  transform: rotate(45deg);
}

.buttons .active{
  border: none;
  background-color: #4a6ee0;
  color: #fff;
}

#submit{
  display: block;
  background-color: #4a6ee0;
  color: #fff;
  font-size: 18px;
  padding: 12px 70px;
  border-radius: 20px;
  margin: 0 auto 30px auto;
  cursor: pointer;
}
#submit:hover{
  background-color: #728ce2;
  transition: all 300ms ease-in-out;
}

.output{
  background-color: #f0f2fc;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#code{
  width: 100%;
  resize: none;
  color: #30304a;
  padding: 10px 20px;
  font-size: 16px;
  background-color: transparent;
  text-align: center;
}
@keyframes slideDown {
  from{
    bottom: -10px;
  }
  to{
    bottom: 0px;
  }
}

#copy{
  font-size: 14px;
  background-color: #4a6ee0;
  color: #fff;
  position: relative;
  border-radius: 0px 0px 7px 7px;
  padding: 5px;
  bottom: 0px;
  cursor: pointer;
}
#copy:hover{
  background-color: #728ce2;
  transition: all 300ms ease-in-out;
}


